body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
input {
  margin-left: 10px;
}
.listform {
  width: 50%;
  float: left;
}
.form-row {
  margin-top: 10px;
}
h6{
  text-align: right;
  margin-right: 30px;
}
.form-group{
  float: left;
}
#addData{
  float: right;
}
.formbloc button{
  margin-top: 25px;
  float: left;
}
